In [15]:
# Number of rows
rows = int(input("Enter the number of rows: "))

for i in range(1, rows+1):
    print('*' * i)

*
**
***
****
*****

In [16]:
for i in range(1, rows+1):
    print(' ' * (rows-i) + '*' * i)

    *
   **
  ***
 ****
*****

In [17]:
for i in range(-rows + 1, rows):
    print(' ' * (rows - abs(i) - 1) + '*' * (2 * abs(i) + 1))

*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********

In [18]:
# Print the upper half of the diamond
for i in range(rows):
    print(' ' * (rows - i - 1) + '*' * (2 * i + 1))

# Print the lower half of the diamond
for i in range(rows - 2, -1, -1):
    print(' ' * (rows - i - 1) + '*' * (2 * i + 1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [19]:
# ASCII value of 'A'
ascii_value = 65
for i in range(rows):
    for j in range(i + 1):
        # Convert ASCII value to character and print it
        print(chr(ascii_value + j), end=' ')
    print()

A
A B
A B C
A B C D
A B C D E

In [20]:
for i in range(1, rows + 1):
    for j in range(i):
        print(i, end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [21]:
for i in range(rows):
    # Print leading spaces
    print(' ' * (rows - i - 1), end='')
    # Print stars
    print('*' * (2 * i + 1))

    *
   ***
  *****
 *******
*********

In [22]:
for i in range(rows, 0, -1):
    # Print leading spaces
    print(' ' * (rows - i), end='')
    # Print stars
    print('*' * (2 * i - 1))

*********
 *******
  *****
   ***
    *

In [23]:
# Print the upper half of the pattern
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print()

# Print the lower half of the pattern
for i in range(rows - 1, 0, -1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [24]:
for i in range(rows):
    for j in range(rows):
        if i == 0 or i == rows - 1 or i + j == rows - 1:
            print("*", end="")
        else:
            print(" ", end="")
    print()

*****
   *
  *
 *
*****

In [25]:
for i in range(rows):
    if i == 0 or i == rows - 1:
        print('*' * rows)
    else:
        print('*' + ' ' * (rows - 2) + '*')

*****
*   *
*   *
*   *
*****

In [26]:
import math
for i in range(rows):
    for j in range(rows-i+1):
        print(end=" ")
    for j in range(i+1):
        print(math.factorial(i)//(math.factorial(j)*math.factorial(i-j)), end=" ")
    print()

      1
     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1

In [27]:
for i in range(rows):
    for j in range(rows):
        if i == j:
            print('$', end='')
        else:
            if i==0 or i==rows-1 or j==0 or j==rows-1:
                print('*', end='')
            else:
                print(' ', end='')
            
    print()

$****
*$  *
* $ *
*  $*
****$